{% extends "base.html" %}

{% block base-script %}
    <script src="../static/js/masonry.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/lightbox.min.js"></script>
    <script src="../static/js/home.js"></script>
{% endblock %}

{% block others %}
    {% include "login.html" %}
    {% include "register.html" %}
{% endblock %}
{% block navbar %}
    <head>
        <div id="navigate-bar">
            <header class="navbar-inverse navbar-static-top" id="top" role="banner">
                <div class="container">
                    <nav class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-task navbar-right">
                            {#                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus#}
                            {#                                sagittis lacus vel augue laoreet rutrum faucibus.">#}
                            {#                                  Popover on bottom#}
                            {#                            </button>#}
                            <a href="#" class="btn btn-outline" data-toggle="modal"
                               data-target="#loginModal">登录</a>
                            <a href="#" class="btn btn-outline" data-toggle="modal"
                               data-target="#register-modal">注册</a>
                            <a id="drop6" href="#" class="dropdown-toggle btn btn-outline" data-toggle="dropdown"
                               aria-haspopup="true" role="button" aria-expanded="false">
                                功能 <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </head>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="First slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>

                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous"
                            Glyphicon buttons on the left and right might not load/display properly due to web browser
                            security rules.</p>

                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Second slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item active">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Third slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div id="masonry" class="col-md-10 container-fluid">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div id="masonry_ghost" class="hide">
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2426.png">
            </div>
            <div class="caption">
                <div class="title">简单OA管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2426">小小生</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="227.png">
            </div>
            <div class="caption">
                <div class="title">集团报表提报系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=227">wangdotnet</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="672.png,672_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=925">小型网站管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=672">拓梦·D</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="160.png">
            </div>
            <div class="caption">
                <div class="title">企贷担保管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=160">☆幻~精灵</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="970.jpg,970_2.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=692">旅游电子商务管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=970">蓝色天空</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="552.jpg">
            </div>
            <div class="caption">
                <div class="title">资源全生命管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=552">孤独的过客</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1431.jpg,1431_1.jpg">
            </div>
            <div class="caption">
                <div class="title">学院在线考试系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1431">CoolHots</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1004.jpg,1004_1.jpg">
            </div>
            <div class="caption">
                <div class="title">公司WEB ERP系統</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1004">随州热线</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="604.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://www.hui500.com/index.aspx">企业人事管理系统</a></div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=604">慧信</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1039.png">
            </div>
            <div class="caption">
                <div class="title">网站管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1039">吉吉﹑</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1408.png,1408_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank"
                                      href="http://www.cnblogs.com/JamesLi2015/archive/2012/09/17/2688213.html">Enterprise
                    Solution</a></div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1408">James</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="645.jpg">
            </div>
            <div class="caption">
                <div class="title">MeCms网站内容管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=645">swtseaman</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2315.png">
            </div>
            <div class="caption">
                <div class="title">EHR管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2315">guns_ken</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="640.jpg,640_2.jpg">
            </div>
            <div class="caption">
                <div class="title">高校实训教学软件定制平台（SCTS）</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=640">泗水亭长</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="4207.png,4207_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=3383">公司OA系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=4207">亮亮胖胖</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1340.jpg,1340_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1035">车辆信息管理系统</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1340">@→Epoch</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="4139.jpg,4139_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2994">固定资产条形码管理系统</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=4139">夜冰</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1072.png,1072_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1289">FineUI开发框架</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1072">你是我的</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="4139_new_1.jpg,4139_new_2.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=3440">文件签收软件</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=4139">夜冰</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="330.jpg,330_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=178">世说新语FineUI
                    个人项目开源</a></div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=330">默默</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="190.png,190_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=220">基于ExtJS的工作流框架</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=190">随便逛逛</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="190_new_1.png,190_new_2.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=136">基于FineUI的网站后台</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=190">随便逛逛</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1077.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank"
                                      href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=874">医疗系统</a></div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1077">e先生</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="3031.png,3031_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2245">FineOA项目</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=3031">waigua1234</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="485.jpg,485_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=545">一个网站后台</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=485">过往烟云</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1547.png,1547_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1834">加气站IC卡数据远程查询系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1547">秋收</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2869.png,2869_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2220">376.1抄表主站系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2869">Mr.Shen</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="860.jpg,860_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=726">简单的区域卫生信息平台框架</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=860">承志.A</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="283.jpg,283_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1343">公司点餐系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=283">rong</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1434.png,1434_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1189">综合管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1434">陈爱国-土拨</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="280.jpg,280_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2310">公司销售及仓库管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=280">dapan3927</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1923.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1507">管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1923">懒羊羊小肥</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2349.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1719">WEB开发框架</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2349">卫联元秋</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="303.jpg,303_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=190">薪资管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=303">Omit</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="157.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=386">ZSIT自助系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=157">dim_$lift</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
