{% extends "base.html" %}

{% block script %}
    <script src="../static/js/masonry.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/lightbox.min.js"></script>
    <script src="../static/js/home.js"></script>
{% endblock %}

{% block content %}
    <div id="navigate-bar container">
        <a id="skippy" class="sr-only sr-only-focusable" href="#content">
            <div class="container"><span class="skiplink-text">Skip to main content</span></div>
        </a>
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav navbar-brand brand">
                        {#                        <a href="../" class="btn btn-outline">登录</a>#}
                        {#                        <a href="../" class="btn btn-outline">下载</a>#}
                    </ul>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav navbar-brand brand navbar-right">
                        {#                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus#}
                        {#                            sagittis lacus vel augue laoreet rutrum faucibus.">#}
                        {#                              Popover on bottom#}
                        {#                        </button>#}
                        <a id="login_btn" href="#" class="btn btn-outline" data-toggle="modal"
                           data-target="#loginModal">登录</a>
                        <a href="../" class="btn btn-outline">注册</a>
                        <a id="drop6" href="#" class="dropdown-toggle btn btn-outline" data-toggle="dropdown"
                           aria-haspopup="true" role="button" aria-expanded="false">
                            功能 <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                        {% include "login.html" %}
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div id="masonry" class="col-md-10 container-fluid">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="container-fluid">
    </div>

    <div id="masonry_ghost" class="hide">
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2426.png">
            </div>
            <div class="caption">
                <div class="title">简单OA管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2426">小小生</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="227.png">
            </div>
            <div class="caption">
                <div class="title">集团报表提报系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=227">wangdotnet</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="672.png,672_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=925">小型网站管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=672">拓梦·D</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="160.png">
            </div>
            <div class="caption">
                <div class="title">企贷担保管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=160">☆幻~精灵</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="970.jpg,970_2.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=692">旅游电子商务管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=970">蓝色天空</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="552.jpg">
            </div>
            <div class="caption">
                <div class="title">资源全生命管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=552">孤独的过客</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1431.jpg,1431_1.jpg">
            </div>
            <div class="caption">
                <div class="title">学院在线考试系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1431">CoolHots</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1004.jpg,1004_1.jpg">
            </div>
            <div class="caption">
                <div class="title">公司WEB ERP系統</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1004">随州热线</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="604.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://www.hui500.com/index.aspx">企业人事管理系统</a></div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=604">慧信</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1039.png">
            </div>
            <div class="caption">
                <div class="title">网站管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1039">吉吉﹑</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1408.png,1408_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank"
                                      href="http://www.cnblogs.com/JamesLi2015/archive/2012/09/17/2688213.html">Enterprise
                    Solution</a></div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1408">James</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="645.jpg">
            </div>
            <div class="caption">
                <div class="title">MeCms网站内容管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=645">swtseaman</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2315.png">
            </div>
            <div class="caption">
                <div class="title">EHR管理系统</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2315">guns_ken</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="640.jpg,640_2.jpg">
            </div>
            <div class="caption">
                <div class="title">高校实训教学软件定制平台（SCTS）</div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=640">泗水亭长</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="4207.png,4207_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=3383">公司OA系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=4207">亮亮胖胖</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1340.jpg,1340_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1035">车辆信息管理系统</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1340">@→Epoch</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="4139.jpg,4139_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2994">固定资产条形码管理系统</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=4139">夜冰</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1072.png,1072_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1289">FineUI开发框架</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1072">你是我的</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="4139_new_1.jpg,4139_new_2.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=3440">文件签收软件</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=4139">夜冰</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="330.jpg,330_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=178">世说新语FineUI
                    个人项目开源</a></div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=330">默默</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="190.png,190_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=220">基于ExtJS的工作流框架</a>
                </div>
                <div class="content">


                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=190">随便逛逛</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="190_new_1.png,190_new_2.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=136">基于FineUI的网站后台</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=190">随便逛逛</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1077.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank"
                                      href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=874">医疗系统</a></div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1077">e先生</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="3031.png,3031_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2245">FineOA项目</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=3031">waigua1234</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="485.jpg,485_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=545">一个网站后台</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=485">过往烟云</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1547.png,1547_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1834">加气站IC卡数据远程查询系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1547">秋收</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2869.png,2869_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2220">376.1抄表主站系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2869">Mr.Shen</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="860.jpg,860_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=726">简单的区域卫生信息平台框架</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=860">承志.A</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="283.jpg,283_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1343">公司点餐系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=283">rong</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1434.png,1434_1.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1189">综合管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1434">陈爱国-土拨</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="280.jpg,280_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=2310">公司销售及仓库管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=280">dapan3927</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="1923.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1507">管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=1923">懒羊羊小肥</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="2349.png">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=1719">WEB开发框架</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=2349">卫联元秋</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="303.jpg,303_1.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=190">薪资管理系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=303">Omit</a>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="imgs">
                <input type="hidden" value="157.jpg">
            </div>
            <div class="caption">
                <div class="title"><a target="_blank" href="http://fineui.com/bbs/forum.php?mod=viewthread&tid=386">ZSIT自助系统</a>
                </div>
                <div class="content">

                </div>
                <div class="author">
                    by <a target="_blank" href="http://fineui.com/bbs/home.php?mod=space&uid=157">dim_$lift</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
