{% extends "base-modal.html" %}
{% block modal-id %}register-modal{% endblock %}
{% block modal-title %}注册{% endblock %}

{% block form %}
    <form class="form-horizontal" name="register_form" id="simple_reg_info">
        {% csrf_token %}
        <h2 class="form-signin-heading">爱宝宝的每一天</h2>

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" placeholder="用户名"
                       data-required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">手机</label>
            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" placeholder="手机号码"
                    data-required>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" placeholder="密码"
                    data-required>
            </div>
        </div>
        <br/>
        <div>
            <img alt="..." class="img-circle"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=">
        </div>
        <div class="content-right">
            <button class="btn btn-outline" id="login_btn" type="submit">注册</button>
            <button class="btn btn-outline" name="next_btn" tabindex="0" type="button">下一步</button>
            <button class="btn btn-outline" data-dismiss="modal">取消</button>
        </div>
    </form>

    <form class="form-horizontal hidden" name="register_form" id="extend_reg_info">
        {% csrf_token %}
        <h2 class="form-signin-heading">爱宝宝的每一天</h2>

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">aaaaaaaaaa</label>
            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" placeholder="bbbbbbbbbbb"
                       data-required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">dddddddddddddddd</label>
            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" placeholder="eeeeeeeeeeeeeeee"
                    data-required>
            </div>
        </div>

        <div class="content-right">
            <button class="btn btn-outline" name="next_btn" tabindex="1" type="button">下一步</button>
            <button class="btn btn-outline" data-dismiss="modal">取消</button>
        </div>

    </form>

{% endblock %}
{% block modal-script %}
    <script src="../static/js/register.js" type="text/javascript"></script>
{% endblock %}
